<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      <a
        mat-list-item
        [routerLink]="['home']"
        style="text-decoration:none"
        color="primary"
      >
        SOL
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['./construction']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>home</mat-icon>
        <span>All</span></a
      >

      <a
        mat-list-item
        [routerLink]="['./terms']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>view_list</mat-icon>
        <span>Glossaire</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['/home/new-term']"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>add</mat-icon>
        <span>add term</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./library']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>library_books</mat-icon>
        <span>Library</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['./new-book']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>library_add</mat-icon>
        <span>add book</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./people']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>people</mat-icon>
        <span>Hall of Fame</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['./new-person']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>person_add</mat-icon>
        <span>add people</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./ships']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>explore</mat-icon>
        <span>Arsenal</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="'./new-ship'"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>add</mat-icon>
        <span>add ship</span></a
      >
      <a
      *ngIf="(auth.afAuth.authState | async) as user"
      mat-list-item
      [routerLink]="'./devisddm'"
      [routerLinkActive]="'router-link-active'"
    >
      <mat-icon matListIcon>assignment</mat-icon>
      <span>Devis DdMonceau</span></a
    >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- toolbar shows the name of the site on the left hand side then on the far right the user log/pref menu -->
      <span>solxviii</span> <span class="spacer"></span>

      <!-- welcome user -->
      <div *ngIf="(auth.afAuth.authState | async) as user; else guest">
          <span>Hi {{ user.displayName }}!</span>
        </div>
        <ng-template #guest>
            <span>Hi Guest!</span>
        </ng-template>

      <!-- user menu and action depending on login status -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item *ngIf="(auth.afAuth.authState | async); else userLogin" (click)="auth.logout()">Logout</button>
        <ng-template #userLogin>
            <button mat-menu-item (click)="auth.login()">
                <mat-icon>exit_to_app</mat-icon>
              Login</button>
        </ng-template>
        <button mat-menu-item *ngIf="(auth.afAuth.authState | async)"
        [routerLink]="['./settings']"
        routerLinkActive="router-link-active"
        >
            <mat-icon>settings</mat-icon>
            Settings</button>
        <button mat-menu-item>
          <mat-icon>contact_support</mat-icon>
          Help</button>
        <button mat-menu-item> <mat-icon>copyright</mat-icon>Credits</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>



    </mat-toolbar>
    <!-- this is where we put the actual content of the app -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
