<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      <a
        mat-list-item
        [routerLink]="['home']"
        style="text-decoration:none"
        color="primary"
      >
        SOL
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['./construction']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>home</mat-icon>
        <span>All</span></a
      >

      <a
        mat-list-item
        [routerLink]="['./terms']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>view_list</mat-icon>
        <span>Glossaire</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['/home/new-term']"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>add</mat-icon>
        <span>add term</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./library']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListIcon>library_books</mat-icon>
        <span>Library</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['./new-book']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>library_add</mat-icon>
        <span>add book</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./people']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>people</mat-icon>
        <span>Hall of Fame</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="['./new-person']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>person_add</mat-icon>
        <span>add people</span></a
      >
      <a
        mat-list-item
        [routerLink]="['./ships']"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>explore</mat-icon>
        <span>Arsenal</span></a
      >
      <a
        *ngIf="(auth.afAuth.authState | async) as user"
        mat-list-item
        [routerLink]="'./new-ship'"
        [routerLinkActive]="'router-link-active'"
      >
        <mat-icon matListIcon>add</mat-icon>
        <span>add ship</span></a
      >
      <a
      *ngIf="(auth.afAuth.authState | async) as user"
      mat-list-item
      [routerLink]="'./devisddm'"
      [routerLinkActive]="'router-link-active'"
    >
      <mat-icon matListIcon>assignment</mat-icon>
      <span>Devis DdMonceau</span></a
    >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>solxviii</span> <span class="spacer"></span>
      <div *ngIf="(auth.afAuth.authState | async) as user; else showLogin">
        <span>Hi {{ user.displayName }}!</span>
        <button mat-button (click)="auth.logout()">Logout</button>
      </div>
      <ng-template #showLogin>
        <button mat-button (click)="auth.login()">Login</button>
      </ng-template>
    </mat-toolbar>
    <div class="vintage-paper">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
