<div class="grid-container">
<ng-container *ngIf="term">
  <div class="vintage_paper grid-container" [hidden]="!editing">
    <h1>Edition of term: {{ term.term }}</h1>
    <mat-form-field>
      <input matInput placeholder="Terme" [(ngModel)]="term.term" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <textarea
        matInput
        placeholder="Definition"
        [(ngModel)]="term.def[0].content"
        rows="10"
      ></textarea>
    </mat-form-field>
    <br />

    <button
      mat-raised-button
      color="accent"
      (click)="updateTerm()"
    >
      Save Term
    </button>
    <button
    mat-raised-button
    (click)="editing=false"
  >
    Cancel
  </button>
  </div>

  <div class="vintage_paper" [hidden]="editing">
    <h1>term: {{ term.term }}</h1>
    <div *ngIf="term">
      <button
        *ngIf="auth.currentUserId === term.authors[0]"
        mat-menu-item
        (click)="editing = true"
      >
        Edit
      </button>
      <button
        *ngIf="auth.currentUserId === term.authors[0]"
        mat-menu-item
        (click)="delete()"
      >
        Remove
      </button>
      <h3>{{ term.term }}</h3>
      <br />
      <p>{{ term.def[0].content }}</p>
      <br />
      <img *ngIf="term.view; else no_picture" src="{{ term.view }}" alt="{{ term.term }}" />
      <ng-template #no_picture>
        <img src="/assets/no_picture.png" alt="">
      </ng-template>
      <p>
        <small>
          Created by {{ term.authors }} &bull; on {{ term.creation | date: "fullDate" }}</small
        >
      </p>
    </div>



    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div overflow="auto" >
          <div id="piece_view" >
            <a-scene embedded>
              <a-assets>
                <a-asset-item id="part" src="/assets/geom/charpente.glb"></a-asset-item>
              </a-assets>
              <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
              <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
              <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
              <!-- <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane> -->


              <a-entity position="0 0 0" color="#4CC3D9" gltf-model="url(/assets/geom/charpente.glb)"></a-entity>
              <a-sky color="#ECECEC"></a-sky>
            </a-scene>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</ng-container>
</div>
