<div class=" home container-canvas">
  <app-universe
    [control]="
      session.islogged ? 'session.user.preferences.navigation' : 'orbit'
    "
  >
    <!-- <app-camera controls='app-control'></app-camera> -->
    <app-box-three
      *ngFor="let map of maps | async"
      px="{{ map.px }}"
      py="{{ map.py }}"
      pz="{{ map.pz }}"
      name="{{ map.name }}"
    ></app-box-three>
    <!-- <app-box-three px="100" py="100" pz="100"></app-box-three>
    <app-box-three px="-200" py="100" pz="100"></app-box-three>
    <app-box-three px="-200" py="300" pz="100"></app-box-three> -->
    <app-mesh-json px="0" py="0" pz="0"></app-mesh-json>
    <!-- <app-mesh-stl file="./assets/mdl/soline/brion.stl"></app-mesh-stl> -->
  </app-universe>

  <button mat-icon-button class="about" [matMenuTriggerFor]="about">
    <mat-icon>help</mat-icon>
  </button>
  <mat-menu #about="matMenu" yPosition="above" xPosition="before">
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item>
      <mat-icon>copyright</mat-icon>
      <span>Company</span>
    </button>
  </mat-menu>

  <button mat-fab class="context" (click)="openAddMap()" color="primary">
      <mat-icon >add</mat-icon>
    </button>


  <!-- <button mat-fab class="context" [matMenuTriggerFor]="context" color="primary">
  <mat-icon >add</mat-icon>
</button>
<mat-menu #context="matMenu" yPosition="below" xPosition="after">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon><i class="material-icons md-36">face</i></mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>

</mat-menu>-->




</div>
