
<div class="grid-container">
    <h1 class="mat-h1">Personnages célèbres</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let person of persons | async" [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{person.surname}}, {{person.name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)='expand(person.id)'>Expand</button>
                <button *ngIf="auth.currentUserId === person.author" mat-menu-item (click)='expand(person.id)'>Edit</button>
                <button *ngIf="auth.currentUserId === person.author" mat-menu-item (click)='personService.deletePerson(person.id)'>Remove</button>

              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div overflow="auto" >
              UID for person: {{person.id}}
              <br>
              <!-- {{term.def[0].content}} -->

            <img src="{{person.picture}}" alt ="{{person.name}}">
            </div>
            <p><small> Created by {{person.author}} &bull; on {{person.creation.getSeconds | date:'short'}}</small></p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
