<!-- <section>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Ajouter un personnage célèbre </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="person-form">
        <mat-form-field class="person-full-width">
          <input matInput placeholder="Nom de famille" [(ngModel)]="surname" />
          <mat-hint align="start"><strong>Nom de Famille</strong> </mat-hint>
        </mat-form-field>
        <br />
        <mat-form-field class="person-full-width">
          <input matInput [(ngModel)]="name" placeholder="Prénom" />
          <mat-hint align="start"><strong>Prénom</strong> </mat-hint>
        </mat-form-field>
        <br />
        <mat-autocomplete #authorList>
          <mat-option *ngFor="let author of authors" [value]="author">{{
              author
            }}</mat-option>
        </mat-autocomplete>
        <br />
        <mat-form-field>
          <input matInput [matDatepicker]="birth" placeholder="Naissance" />
          <mat-datepicker-toggle
            matSuffix
            [for]="birth"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #birth
            startView="year"
            [startAt]="1850"
          ></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput [matDatepicker]="death" placeholder="Mort" />
          <mat-datepicker-toggle
            matSuffix
            [for]="death"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #death
            startView="year"
            [startAt]="1850"
          ></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field class="person-full-width">
          <input type="url" matInput #message placeholder="Portrait" />
          <mat-hint align="start"
            ><strong>
              Add URL where picture can be bought or downloaded from</strong
            >
          </mat-hint>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-select placeholder="Language">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lang of languages" [value]="lang">{{
              lang
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <div>
          <button
            mat-raised-button
            color="primary"
            color="primary"
            (click)="createPerson()"
          >
            Add Person
          </button>
          ><button mat-button>Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</section> -->

<section>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="personFormGroup" (ngSubmit)="createPerson()">
          <mat-form-field class="person-full-width">
              <input matInput placeholder="Nom de famille" formControlName="name" />
              <mat-hint align="start"><strong>Nom de Famille</strong></mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="person-full-width">
                <input matInput placeholder="Prénom" formControlName="surname" />
                <mat-hint align="start"><strong>Prénom</strong></mat-hint>
              </mat-form-field>

         Language:
         <mat-form-field>
            <mat-select placeholder="Language" formControlName="language">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let lang of languages" [value]="lang">{{
                lang
              }}</mat-option>
            </mat-select>
          </mat-form-field>

        <!-- <select formControlName="language">
          <option *ngFor="let lang of languages" [value]="lang">{{
            lang
          }}</option>
        </select> -->
        <br />

        <button type="submit" [disabled]="!personFormGroup.valid">Save</button>
        <button type="reset" (click)="revert()">Revert</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
