<section>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="shipForm" (ngSubmit)="createShip()">
          <mat-form-field class="person-full-width">
            <input matInput placeholder="Nom du vaisseau" formControlName="name" />
            <mat-hint align="start"><strong>Nom du bateau</strong></mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input
              matInput
              formControlName="construction"
              [matDatepicker]="construction"
              placeholder="Construction"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="construction"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #construction
              startView="year"
              [startAt]="1850"
            ></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field class="person-full-width">
            <input matInput placeholder="Ingénieur" formControlName="engineerID" />
            <mat-hint align="start"><strong>Constructeur</strong></mat-hint>
          </mat-form-field>
        <br />

        <mat-form-field class="person-full-width">
          <input matInput placeholder="Chantier Naval" formControlName="asernalID" />
          <mat-hint align="start"><strong>Chantier Naval</strong></mat-hint>
        </mat-form-field>
      <br />
          <mat-form-field>
            <input
              matInput
              formControlName="destruction"
              [matDatepicker]="destruction"
              placeholder="Destruction"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="destruction"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #destruction
              startView="year"
              [startAt]="1850"
            ></mat-datepicker>
          </mat-form-field>
          <br />

          <br />
          <mat-form-field>
            <textarea
              matInput
              placeholder="Histoire"
              formControlName="details"
              rows="10"
            ></textarea>
          </mat-form-field>
          <br />
          <div align="right">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!shipForm.valid"
            >
              Add Ship
            </button>
            <button mat-raised-button type="reset" (click)="revert()" mat-button>Cancel</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </section>

