<div class="grid-container">
    <h1 class="mat-h1">Références Bibliographiques</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             Un livre
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item >Expand</button>
                <button  mat-menu-item >Edit</button>
                <button  mat-menu-item >Remove</button>

              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div overflow="auto" >
              idenfifiant du livre
              <br>
              <!-- {{term.def[0].content}} -->

            <img src="" alt ="la couv du livre">
            </div>
            <p><small> Entered by quelqu'un &bull; on il y a lontemps</small></p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
